/* circle */
/* https://images.unsplash.com/photo-1614540458481-965fdbab9814?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80 */

/* galaxy */
/* https://images.unsplash.com/photo-1597773150796-e5c14ebecbf5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80 */

/* dots */
/* https://images.unsplash.com/photo-1628432388803-2b4dfa2a0158?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80 */

/* cloud */
/* https://images.unsplash.com/photo-1618598289187-b16102c079f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80 */

body{
    background-image: url('https://images.unsplash.com/photo-1618598289187-b16102c079f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80');
    background-size: cover;
    position: relative;
    font-family: 'Oswald', sans-serif;
}

#email {
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-wrap{
    padding-bottom: 3rem;
    text-transform: uppercase;
}

.intro{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro h1{
    font-size: 4rem;
    font-weight: 400;
    margin: 0 auto;
}

.intro h2{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem auto;
}

.intro .btn{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 1rem;
    padding: 12px 45px;
    border: 1px solid #E1633E;
    border-radius: 100px;
    background-color: #E1633E;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    transition: all .3s ease-in-out;
}

.intro .btn:hover{
    transform: scale(1.1);
}


.box {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.contact-container {
    display: flex;
    justify-content: center;
}

.skills {
    margin: 8rem auto;
    height: 100vh;
}

.skills h3{
    font-size: 4rem;
    font-weight: 300;
}

.icons{
    display: flex;
    justify-content: center;
}

.icons i{
    margin: 3rem;
    margin-bottom: 0;
}

.contact {
    margin-top: 14rem;
    margin-bottom: 2rem;
}

.contact h3{
    font-size: 3rem;
    font-weight: 300;
}

footer{
    position: absolute;
    text-align: center;
    height: 3rem;
    bottom: 0;
    width: 100%;
}

footer a{
    padding-top: .5rem;
    display: block;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: #000;
}

footer a:hover{
    text-decoration: underline;
}

.floating-container {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin: 35px 25px;
}
  
.floating-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    background: #E1633E;
    bottom: 0;
    border-radius: 100%;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    line-height: 65px;
    font-size: 23px;
    z-index: 100;
    box-shadow:  0 10px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all .3s ease-in-out;
} 




